.trees {
  &__container {
    position: relative;
    row-gap: 3.5rem;

    &__data {
      text-align: center;

      &__title {
        font-family: "Montserrat Alternates";
        margin-bottom: 1rem;
      }

      &__description {
        margin-bottom: 2rem;
        font-family: "Montserrat";
      }
    }

    &__snow-1, &__snow-2 {
      width: 50px;
      position: absolute;
    }

    &__snow-1 {
      top: 12rem; left: 1.5rem;
      animation: animate-snow-1 5s infinite ease-in-out;
    }

    &__snow-2 {
      right: -.75rem; bottom: .5rem;
      animation: animate-snow-2 5s infinite ease-in-out;
    }

    @media screen and (min-width: 576px) {
      grid-template-columns: .8fr;
      justify-content: center;
    }
  }

  @media screen and (min-width: 1024px) {
    &__container {
      &__data,
      &__data__title {
        text-align: initial;
      }

      .swiper {
        width: 500px;
        order: -1;
      }

      &__snow-1 {
        top: 0; left: 0;
      }

      &__snow-2 {
        right: 3rem; bottom: .5rem;
      }
    }
  }
}

/* Snow animation */
@keyframes animate-snow-1 {
  0%, 100% {
    transform: scale(.5);
  }
  50% {
    transform: scale(1);
  }
}
@keyframes animate-snow-2 {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(.5);
  }
}